.general {
    fontSize: 14px;
    fontFamily: roboto;
}
.list-item {
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: auto;
    border: 1px solid #aaaaaa;
    font-size: 14px;
    font-family: roboto;
}
.row-item-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row-item-inline {
    display: inline-flex;
}
.profile-pict {
    width: 100px !important;
    height: auto !important;
    fill: #757575 !important;
}
.patient-name {
    font-size: 24px;
    font-weight: bold;
}
.oneLine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}
.card {
    flex: 0 1 calc(50% - 1em);
}

.rowContainer {
    height: 80%;
}

@media(max-width:767px){
    .custom-xs-left-margin{
        margin-left:100px;
    }
}
